<div *ngIf="!encuesta">
  <p-card class="flex-col">
    <i class="pi pi-times-circle" style="font-size: 2rem"></i>
    <h3 class="">No se pudo encontrar la encuesta</h3>
  </p-card>
</div>

<div *ngIf="encuesta && encuesta.estado !== 'PUBLICADO'">
  <p-card class="flex-col">
    <i class="pi pi-info-circle" style="font-size: 2rem"></i>
    <h3 class="">No se puede responder esta encuesta</h3>
  </p-card>
</div>

<div *ngIf="encuesta && encuesta.estado === 'PUBLICADO'">
  <h2>{{ encuesta.nombre }}</h2>

  <form [formGroup]="form" (ngSubmit)="enviarRespuestas()">
    <p-panel
      *ngFor="let pregunta of preguntas; let i = index"
      class="pregunta"
      header="Pregunta N°{{ i + 1 }}"
    >
      <label>{{ pregunta.texto }}</label>

      <!-- ABIERTA -->
      <input
        *ngIf="pregunta.tipo === 'ABIERTA'"
        type="text"
        [formControlName]="pregunta.id.toString()"
      />

      <!-- SELECCIÓN SIMPLE -->
      <div *ngIf="pregunta.tipo === 'OPCION_MULTIPLE_SELECCION_SIMPLE'">
        <div *ngFor="let opcion of pregunta.opciones">
          <label>
            <input
              type="radio"
              [value]="opcion.id"
              [formControlName]="pregunta.id.toString()"
            />
            {{ opcion.texto }}
          </label>
        </div>
      </div>

      <!-- SELECCIÓN MÚLTIPLE -->
      <div *ngIf="pregunta.tipo === 'OPCION_MULTIPLE_SELECCION_MULTIPLE'">
        <div *ngFor="let opcion of pregunta.opciones">
          <input
            type="checkbox"
            [checked]="isChecked(pregunta.id, opcion.id)"
            (change)="onCheckboxChange(pregunta.id, opcion.id, $event)"
          />
          <label>
            {{ opcion.texto }}
          </label>
        </div>
      </div>
    </p-panel>

    <button type="submit">Enviar respuestas</button>
  </form>
</div>
