<div *ngIf="cargando">
  <p-card class="flex-col">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <h3 class="">Cargando</h3>
  </p-card>
</div>

<div *ngIf="!encuesta">
  <p-card class="flex-col">
    <i class="pi pi-times-circle" style="font-size: 2rem"></i>
    <h3 class="">No se pudo encontrar la encuesta</h3>
  </p-card>
</div>

<div *ngIf="encuesta && encuesta.estado !== 'BORRADOR'">
  <p-card class="flex-col">
    <i class="pi pi-info-circle" style="font-size: 2rem"></i>
    <h3 class="">No se puede modificar esta encuesta</h3>
  </p-card>
</div>

<div *ngIf="encuesta && encuesta.estado === 'BORRADOR'">
  <app-encuesta-form
    [encuesta]="encuesta"
    (guardarEncuestaModificada)="guardarEncuestaModificada($event)"
  ></app-encuesta-form>
</div>
