<div *ngIf="respuestas.length === 0">
  <p-card class="flex-col">
    <i class="pi pi-info-circle" style="font-size: 2rem"></i>
    <h3 class="">No se han encontrado respuestas</h3>
  </p-card>
</div>

<div *ngIf="respuestas.length > 0" class="respuestas-contenedor flex-col g-1">
  <h2 class="respuestas-titulo">Respuestas</h2>

  <div class="limite-selector flex-row g-05">
    <label for="limiteInput">Respuestas por página:</label>

    <p-inputnumber
      [(ngModel)]="limite"
      [showButtons]="true"
      buttonLayout="horizontal"
      inputId="limiteInput"
      [min]="1"
      [max]="20"
      (onInput)="cambiarLimite()"
    />
  </div>

  <p-accordion [(activeIndex)]="activeIndex">
    <p-accordionTab
      *ngFor="let formulario of respuestas; let i = index"
      [header]="'Participante N°: ' + ((pagina - 1) * limite + i + 1)"
      iconPos="end"
    >
      <ul class="respuestas-lista">
        <li *ngFor="let resp of formulario.respuestas">
          <div><strong>Pregunta:</strong> {{ resp.pregunta.texto }}</div>
          <div><strong>Respuesta:</strong> {{ resp.respuesta }}</div>
          <p-divider />
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>

  <div class="button-container flex-row g-1 flex-center">
    <button
      pButton
      label="Anterior"
      icon="pi pi-angle-left"
      severity="secondary"
      (click)="anterior()"
      [disabled]="pagina <= 1"
      class="p-button-sm"
    ></button>

    <span> Página {{ pagina }} de {{ totalPaginas }} </span>

    <button
      pButton
      label="Siguiente"
      icon="pi pi-angle-right"
      severity="secondary"
      iconPos="right"
      (click)="siguiente()"
      [disabled]="pagina * limite >= total"
      class="p-button-sm"
    ></button>
  </div>
</div>
