.no-respuestas {
  color: #e74c3c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
