<p-panel header="Gestión de Encuesta" styleClass="titulo-panel">
  <div *ngIf="cargando">Cargando encuesta...</div>

  <div *ngIf="error">
    <p style="color: red">{{ error }}</p>
  </div>

  <div *ngIf="encuesta" class="contenedor-gestion">
    <!-- Botones -->
    <div class="acciones-gestion">
      <button
        pButton
        label="Editar Encuesta"
        icon="pi pi-pencil"
        (click)="irAEditar()"
      ></button>

      <button
        pButton
        label="Ver Respuestas"
        icon="pi pi-eye"
        (click)="irARespuestas()"
      ></button>

      <button
        pButton
        label="Descargar CSV"
        icon="pi pi-download"
        (click)="descargarCSV()"
      ></button>
    </div>
    <!-- Estado -->
    <div class="estado-encuesta">
      <strong>Estado:</strong>
      <span class="estado-valor">{{ encuesta.estado }}</span>
      <button
        pButton
        icon="pi pi-pencil"
        class="p-button-text p-button-sm boton-con-borde"
        label="Editar estado"
        (click)="editarEstado()"
      ></button>
    </div>

    <!-- Título -->
    <h2 class="titulo-encuesta">{{ encuesta.nombre }}</h2>

    <!-- Códigos -->
    <div class="codigos">
      <p>
        <strong>Código de respuestas:</strong> {{ encuesta.codigoRespuesta }}
      </p>
      <p>
        <strong>Código de resultados:</strong> {{ encuesta.codigoResultados }}
      </p>
    </div>

    <!-- Preguntas -->
    <h4>Preguntas</h4>
    <ul class="lista-preguntas">
      <li *ngFor="let pregunta of encuesta.preguntas">
        {{ pregunta.numero }}. {{ pregunta.texto }}
        <span class="tipo">({{ pregunta.tipo }})</span>
      </li>
    </ul>
  </div>
</p-panel>
