::ng-deep p-button.gestion-btn .p-button {
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
}

.gestion-row-botones {
  justify-content: center;
  flex-wrap: wrap;
}

.gestion-row-botones p-button {
  flex: 1 1 0;
}

h2,
h4,
ul,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.codigos {
  margin-top: 1rem;
}
.codigos a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.codigos div {
  align-items: center;
}
