<app-encuesta-form
  (guardarEncuestaCreada)="guardarEncuesta($event)"
></app-encuesta-form>

<!-- MODAL -->
<p-dialog
  [(visible)]="mostrarModal"
  [modal]="true"
  [closable]="false"
  (onHide)="irAGestionar()"
  class="flex-col g-1"
>
  <div class="flex-col">
    <i class="pi pi-check-circle flex-center" style="font-size: 2rem"></i>
    <h3 class="flex-center">Encuesta guardada con éxito</h3>
  </div>

  <p>Enlaces generados para la encuesta:</p>

  <div class="codigos flex-col g-1">
    <div>
      <p><strong>Enlace de participación</strong></p>
      <div class="flex-row">
        <a [href]="linkRespuesta" target="_blank">{{ linkRespuesta }}</a>
        <p-button
          type="button"
          rounded
          class="p-button-sm"
          severity="secondary"
          icon="pi pi-clipboard"
          (click)="copiarAlPortapapeles(linkRespuesta!)"
        ></p-button>
      </div>
    </div>
    <div>
      <p><strong>Enlace de resultados</strong></p>
      <div class="flex-row">
        <a [href]="linkResultados" target="_blank">{{ linkResultados }}</a>
        <p-button
          type="button"
          rounded
          class="p-button-sm"
          severity="secondary"
          icon="pi pi-clipboard"
          (click)="copiarAlPortapapeles(linkResultados!)"
        ></p-button>
      </div>
    </div>
  </div>

  <ng-template #footer>
    <button
      pButton
      type="button"
      label="Volver"
      class="p-button-secondary"
      (click)="volver()"
    ></button>

    <button
      pButton
      type="button"
      label="Gestionar encuesta"
      class="p-button-primary"
      (click)="irAGestionar()"
    ></button>
  </ng-template>
</p-dialog>
