<app-encuesta-form
  (guardarEncuestaCreada)="guardarEncuesta($event)"
></app-encuesta-form>

<!-- MODAL -->
<p-dialog
  header="Encuesta guardada con éxito"
  [(visible)]="mostrarModal"
  [modal]="true"
  [closable]="false"
  (onHide)="irAGestionar()"
>
  <p>Enlaces generados para la encuesta:</p>

  <div style="margin-bottom: 1rem">
    <p><strong>Enlace de participación:</strong></p>
    <a [href]="linkRespuesta" target="_blank">{{ linkResultados }}</a>
    <button
      pButton
      type="button"
      label="COPIAR"
      (click)="copiarAlPortapapeles(linkRespuesta!)"
      style="margin-left: 1rem"
    ></button>
  </div>

  <div style="margin-bottom: 1rem">
    <p><strong>Enlace de resultados:</strong></p>
    <a [href]="linkResultados" target="_blank">{{ linkResultados }}</a>
    <button
      pButton
      type="button"
      label="COPIAR"
      (click)="copiarAlPortapapeles(linkResultados!)"
      style="margin-left: 1rem"
    ></button>
  </div>

  <div style="margin-top: 2rem; text-align: center">
    <button
      pButton
      type="button"
      label="Cerrar"
      class="p-button-secondary"
      (click)="volver()"
    ></button>

    <button
      pButton
      type="button"
      label="Gestionar encuesta"
      class="p-button-primary"
      (click)="irAGestionar()"
    ></button>
  </div>
</p-dialog>
