<h2>{{ encuesta ? "Editar encuesta" : "Crea una nueva encuesta" }}</h2>

<form [formGroup]="encuestaForm" (ngSubmit)="guardarEncuesta()">
  <!-- NOMBRE -->
  <div class="flex-col g-05">
    <label for="nombre">Nombre de la encuesta</label>
    <input id="nombre" type="text" pInputText formControlName="nombre" />
  </div>

  <!-- ESTADO -->
  <div class="p-field flex-col g-05" *ngIf="!encuesta">
    <label for="estado">Estado</label>
    <p-select
      formControlName="estado"
      [options]="getTiposEstado()"
      optionLabel="presentacion"
      optionValue="estado"
      placeholder="Seleccionar estado"
    ></p-select>
  </div>

  <!-- PREGUNTAS EXISTENTES -->
  <div *ngIf="encuesta" class="flex-col g-1">
    <div *ngFor="let pregunta of encuesta.preguntas; let i = index">
      <p-panel header="Pregunta N°{{ i + 1 }}">
        <ng-template #icons>
          <p-button
            icon="pi pi-trash"
            severity="secondary"
            rounded
            (click)="eliminarPreguntaExistente(pregunta.id)"
          />
        </ng-template>
        <p><strong>Pregunta:</strong> {{ pregunta.texto }}</p>
        <p><strong>Tipo de pregunta:</strong> {{ pregunta.tipo }}</p>
        <div *ngIf="pregunta.opciones && pregunta.opciones.length > 1">
          <p><strong>Opciones:</strong></p>
          <ul>
            <li *ngFor="let opcion of pregunta.opciones">
              <strong>{{ opcion.numero }}.</strong> {{ opcion.texto }}
            </li>
          </ul>
        </div>
      </p-panel>
    </div>
  </div>

  <!-- PREGUNTAS NUEVAS -->
  <div formArrayName="preguntas" class="flex-col g-1">
    <div
      *ngFor="let preguntaCtrl of preguntas.controls; let i = index"
      [formGroupName]="i"
    >
      <p-panel
        header="Pregunta N°{{ (encuesta?.preguntas?.length ?? 0) + i + 1 }}"
      >
        <ng-template #icons>
          <p-button
            icon="pi pi-trash"
            severity="secondary"
            rounded
            (click)="eliminarPregunta(i)"
          />
        </ng-template>
        <div class="flex-col g-05">
          <label>Texto</label>
          <input type="text" pInputText formControlName="texto" />
        </div>
        <div class="flex-col g-05">
          <label>Tipo de respuesta</label>
          <p-select
            [options]="getTiposPreguntaPresentacion()"
            formControlName="tipo"
            optionLabel="presentacion"
            optionValue="tipo"
            placeholder="Seleccionar tipo"
          ></p-select>
        </div>
        <!-- OPCIONES -->
        <div
          *ngIf="
            $any(preguntaCtrl).get('tipo')?.value ===
              tiposRespuestaEnum.OPCION_MULTIPLE_SELECCION_SIMPLE ||
            $any(preguntaCtrl).get('tipo')?.value ===
              tiposRespuestaEnum.OPCION_MULTIPLE_SELECCION_MULTIPLE
          "
          formArrayName="opciones"
          class="flex-col g-05"
        >
          <label>Opciones</label>
          <div
            *ngFor="
              let opcionCtrl of getOpciones($any(preguntaCtrl))!.controls;
              let j = index
            "
            [formGroupName]="j"
            class="flex-col g-05"
          >
            <div class="flex-row">
              <input
                type="text"
                pInputText
                formControlName="texto"
                placeholder="Texto de la opción"
              />
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger p-button-text p-button-sm"
                type="button"
                (click)="eliminarOpcion($any(preguntaCtrl), j)"
              ></button>
            </div>
          </div>
          <button
            type="button"
            pButton
            icon="pi pi-plus"
            severity="secondary"
            label="Agregar opción"
            class="p-button-sm flex-start"
            (click)="agregarOpcion($any(preguntaCtrl))"
          ></button>
        </div>
      </p-panel>
    </div>
  </div>

  <!-- BOTÓN PARA AGREGAR NUEVA PREGUNTA -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    severity="secondary"
    label="Agregar nueva pregunta"
    class="p-button-sm flex-start"
    (click)="agregarPregunta()"
  ></button>

  <!-- BOTÓN GUARDAR -->
  <button
    type="submit"
    pButton
    class="p-button-sm"
    label="Guardar encuesta"
    [disabled]="encuestaForm.invalid"
  ></button>
</form>

<div style="margin-top: 2rem; text-align: center">
  <button
    pButton
    type="button"
    label="Volver"
    class="p-button-sm p-button-secondary"
    (click)="volver()"
  ></button>
</div>

<p-toast></p-toast>
