<h2>{{ encuesta ? "Editar Encuesta" : "Crear Nueva Encuesta" }}</h2>

<form [formGroup]="encuestaForm" (ngSubmit)="guardarEncuesta()">
  <!-- NOMBRE -->
  <div>
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" pInputText formControlName="nombre" />
  </div>

  <hr />

  <!-- PREGUNTAS EXISTENTES -->
  <div *ngIf="encuesta">
    <div *ngFor="let pregunta of encuesta.preguntas; let i = index">
      <p-panel header="Pregunta N°{{ pregunta.numero }}">
        <p><strong>Pregunta:</strong> {{ pregunta.texto }}</p>
        <p><strong>Tipo de pregunta:</strong> {{ pregunta.tipo }}</p>
        <p><strong>Opciones:</strong></p>
        <ul>
          <li *ngFor="let opcion of pregunta.opciones">
            <strong>{{ opcion.numero }})</strong> {{ opcion.texto }}
          </li>
        </ul>
        <button
          pButton
          icon="pi pi-trash"
          label="Eliminar pregunta"
          class="p-button-danger p-button-sm"
          type="button"
          (click)="eliminarPreguntaExistente(pregunta.id)"
        ></button>
      </p-panel>
    </div>
  </div>

  <!-- PREGUNTAS NUEVAS -->
  <div formArrayName="preguntas">
    <div
      *ngFor="let preguntaCtrl of preguntas.controls; let i = index"
      [formGroupName]="i"
    >
      <p-panel header="Pregunta N°{{ i + 1 }}">
        <p-iftalabel>
          <label>Texto</label>
          <input type="text" pInputText formControlName="texto" />
        </p-iftalabel>
        <label>Tipo de respuesta</label>
        <p-select
          [options]="getTiposPreguntaPresentacion()"
          formControlName="tipo"
          optionLabel="presentacion"
          optionValue="tipo"
          placeholder="Seleccionar tipo"
        ></p-select>

        <!-- OPCIONES -->
        <div
          *ngIf="
            $any(preguntaCtrl).get('tipo')?.value ===
              tiposRespuestaEnum.OPCION_MULTIPLE_SELECCION_SIMPLE ||
            $any(preguntaCtrl).get('tipo')?.value ===
              tiposRespuestaEnum.OPCION_MULTIPLE_SELECCION_MULTIPLE
          "
          formArrayName="opciones"
        >
          <label>Opciones</label>
          <div
            *ngFor="
              let opcionCtrl of getOpciones($any(preguntaCtrl))!.controls;
              let j = index
            "
            [formGroupName]="j"
            style="margin-bottom: 0.5rem"
          >
            <input
              type="text"
              pInputText
              formControlName="texto"
              placeholder="Texto de la opción"
            />
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-danger p-button-text p-button-sm"
              type="button"
              (click)="eliminarOpcion($any(preguntaCtrl), j)"
            ></button>
          </div>
          <button
            type="button"
            pButton
            icon="pi pi-plus"
            label="Agregar opción"
            class="p-button-sm"
            (click)="agregarOpcion($any(preguntaCtrl))"
          ></button>
        </div>

        <!-- Eliminar pregunta nueva -->
        <div style="margin-top: 1rem">
          <button
            pButton
            icon="pi pi-trash"
            label="Eliminar pregunta"
            class="p-button-danger p-button-sm"
            type="button"
            (click)="eliminarPregunta(i)"
            *ngIf="preguntas.length > 1"
          ></button>
        </div>
      </p-panel>
    </div>
  </div>

  <!-- BOTÓN PARA AGREGAR NUEVA PREGUNTA -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    label="Agregar nueva pregunta"
    class="p-button-sm"
    (click)="agregarPregunta()"
  ></button>

  <hr />

  <!-- ESTADO -->
  <div class="p-field" *ngIf="!encuesta">
    <label for="estado">Estado</label>
    <p-select
      formControlName="estado"
      [options]="getTiposEstado()"
      optionLabel="presentacion"
      optionValue="estado"
      placeholder="Seleccionar estado"
    ></p-select>
  </div>

  <!-- BOTÓN GUARDAR -->
  <button
    type="submit"
    pButton
    label="Guardar encuesta"
    [disabled]="encuestaForm.invalid"
  ></button>
</form>

<p-toast></p-toast>

<div style="margin-top: 2rem; text-align: center">
  <button
    pButton
    type="button"
    label="VOLVER"
    class="p-button-secondary"
    (click)="volver()"
  ></button>
</div>
